body{
	margin: 20px 20px;
	font-family: Tahoma;
}
header {
	width: 80%;
	height: 50px;
	text-align: center;
	background-color: yellow;
	padding-top: 20px;
}
nav{
	width: 15%;
	height: 240px;
	background-color: red;
	float: left;
	padding-left: 20px;  

}
section{
	width: 80%;
	height: 240px;
	background-color: brown;
}
article{
	background-color: black;
	color: white;
}
footer{
	background-color: #5E9CFF;
	width: 80%;
	height: 40px;
	text-align: center;
}